{{#partial "content"}}
    <h3>Get a feel of being a hero<br>Not just a hero<br>A superhero</h3>
    <a href="/Squads/create"><button class="btn btn-danger">Get started with your own gang</button></a>
{{/partial}}
{{> layout.hbs}}