{{#partial "content"}}
    <h2 class="success">Hats off Mate!</h2>
    <p>Great job in completing your mission successfully!</p>
    <p>Check out your squads <a href="/Squads/create">here</a> and your heroes <a href="/Squad/Heroes/new">here</a></p>
{{/partial}}
{{> layout.hbs}}